.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(220, 220, 220);
    border-bottom-style: solid;

    z-index: 100;
}

.left-section{
        
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;

}
.youtube-logo{
    height: 20px;
    }

.middle-section{

    flex: 1;
    display: flex;
    align-items: center;
    

    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.search-bar{
    height: 36px;
    flex: 1;
    width: 0;

    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.10);
    font-size: 16px;
    padding-left: 10px;
}
.search-bar::placeholder{  
    font-size: 16px;
}
.search-button{
    height: 39px;
    width: 66px;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip
,.voice-search-button .tooltip
,.upload-icon-container .tooltip
,.youtube-apps-icon-container .tooltip{
    position: absolute;
    background-color: grey;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip
,.voice-search-button:hover .tooltip
,.upload-icon-container:hover .tooltip
,.youtube-apps-icon-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(247,247,247 );
}

.voice-search-icon{
    height: 24px;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0px;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.upload-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}
.notifications-icon{
    height: 24px;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.custom-user-picture{
    height: 24px;
    border-radius: 16px;
}
