.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    width: 72px;
    background-color: white;
    padding-top: 5px;
    z-index: 1000;
}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}